/*
grey-color:##2f3030
green color:#3bcc72 
rgb(246, 248, 250);
#efefef
#cccccc
*/


form{
 margin:0px; padding:0px;
}
textarea{
    resize: none;
}
body{margin:0;
    height: 100%;
    width: 100%;
    background-size:100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-color:#e8e8e8 !important;
}
.homeBody{
    margin:0;
    height: 100%;
    width: 100%;
    background-image:url("../images/aurorahome.jpg");
    background-size:100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
#search{
    top:10;
    position: absolute;
    height:45;
    width:45;
    right:10;
    transition:0.2s; 
}
#search:hover{
    transform: scale(1.09,1.09);
    
    cursor: pointer;
    transition:0.2s; 
}
#topbar{
    height:70px;
    width: 100%;
    box-shadow:0px 10px 50px black;
}
#headerfont{
    text-decoration: none;
    position: relative;
    font-family: pacifico;
    color: white;
    margin-right:10; 
    font-size:40px;
    transition: 0.2s !important;
}
#headerfont:hover{
    cursor: pointer !important;
    transform: scale(1.09,1.09) !important;
    transition: 0.2s !important;
}
#loginBox{
    
    display: block;
    margin: auto;
    height: 500px;
    width: 450px;
    background-color:#2f3030;
    border-radius: 20px;
    box-shadow:5px 10px 90px #3bcc72; 
}
@media screen and (max-width:500px){
    #loginBox{
        position: relative;
        top:50pt;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
}
    #username{
    outline: none;
    position:relative;
    padding-left:15px;
    top:50pt;
        display: block;
    margin:auto;
    height:40;
    width:350;
    font-size:20px;
    border-radius:20px;
    border: none;
}
#password{
    outline: none;
    border: none;
    padding-left:15px;
    position:relative;
    top:70pt;
    font-size:20px;
    height:40;
    width:350;
    border-radius:20px;
    display: block;
    margin:auto;
    
}
@media screen and (max-width:500px){
    #username{
        margin-left: 5%;
        margin-right:5%;
        width:90%;
    }
    #password{
        margin-left: 5%;
        margin-right:5%;
        width:90%;
    }
}

#userlabel{
    color: white;
    position:absolute;
    top: 150;
    left:80; 
    font-family: nunito;
    
    font-size: 25;
}
#passlabel{
    color: white;
    position:absolute;
    top: 240;
    left:80; 
    font-family: nunito;
    
    font-size: 25;
}
#submit{
    color: aliceblue;
    background-color:#3bcc72;
    position:relative;
    top:100pt;
    display: block;
    margin:auto;
    font-size: 25;
    height:45px;
    width:100px;
    border-radius:20px;
    border: none;
    font-family: nunito;
    outline: none;
    
}
#submit:hover{
    cursor: pointer;
    background-color:#28a658;

}
#greettext{
    text-shadow:5px 5px 30px black;
    font-size:3vw;
    color: white;
    font-family:nunito;
    position: relative;
    top:50pt;
    
    max-width:40%;
    display:block;
    margin: auto;
    
    text-align: center;
}
@media screen and (max-width:500px){
    #greettext{
        font-size: 7vw;
    }
}
#pageicon{
    position:relative;
    top:20pt; 
    height:35vh;
    display: block;
    margin: auto;
   
}

#userPic{
    height:150;
    position:relative;
    display: block;
    margin: auto;
    top:20pt;
    
}
#loadscreen{
    background: black;
    position: fixed;
    display: block;
    height: 100% !important;
    width: 100%;
    z-index:9999;
    
}
.loading {
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
    margin: auto;
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
#profilecontainer{
    background-color:black;
    position:absolute;
    top:100px;
    left:100px;
    height:10%;
    width:85%;
    border: solid;
    border-color: aliceblue;
    

}
#blogcontainer{
    display: inline-block;
    height:auto;
    width:55%;
    margin:20 340;
    
}
#pen{ background-image: url(../images/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:fixed;
    bottom:20;
    right:20;
    height:80;
    width:80;
    outline: none;
    border:none;
    border-radius:50px;
    background-color:whitesmoke; 
    transform: scale(1,1);
    transition:0.2s; 
    z-index: 10;
    padding: 5 5;
}
@media screen and (max-width:500px){
    #pen{
        background-size: contain;
        padding: 5 5;
        height:50;
        width:50;
    }
}
#pen:hover{
    cursor:pointer;
    background-size:contain; 
    background-color:#3bcc72 ;
    transition:0.2s;
    transform: scale(0.9,0.9);
}
.profilepic{
    border: solid;
    border-color: aquamarine;
    position:absolute;
    top:15;
    left:15;
    border-radius:100px;
height:100px;
width:100px;
background-color: aliceblue;
}
#signupbox{
    font-family:nunito;
    position: relative;
    border-radius:20px;
    background-color: #2f3030;
    margin:auto;
    top: 45%;
  transform: translateY(-50%);
    height:600px;
    width:700px;
    box-shadow:0px 0px 30px #3bcc72;
}
@media screen and (){
    
}
#input-wrapper{position: absolute;
    top:30px;
    right:15px;
height:80%;
    width:60%;
    
    
}
.firstinput {
    outline: none;
    font-size:20px;
    margin:25;
    border-color:transparent;   
    border-radius: 20px;
    padding:15px 20px;
    width:250;
}
.firstinput:focus{
    border: solid;
    border-color: #3bcc72;
}

#firstsubmit {
    background-color:#3bcc72; 
    color: aliceblue;
    font-size:20px;
    position: relative;
    margin: auto;
    top:150px;
    font-family:nunito;
    border:none;
    border-radius:20px;
   padding:10px 40px;
    outline: none;
}
#firstsubmit:hover{
    cursor: pointer;
    background-color:#28a658;
}
#delete{
    background-color:#c01919; 
    color: aliceblue;
    font-size:20px;
    position: relative;
    margin: auto;
    
    font-family:nunito;
    border:none;
    
    border-radius:20px;
    padding:10px 40px;
    outline: none;
}

.userdetails {
    text-align: center;
    position: relative;
    top:125px;
    width: 100%;
    display: inline-block;
}

#signuptext {
    width: 100%;
    text-align: center;
}

#displayname {
    text-transform:capitalize; 
    font-family: nunito;
    padding: 10;
    font-size:30;
    color: aliceblue;
    background: transparent;
    border: none;
    position: absolute;
    height:100%;
    width:50%;
    left:10;
    font-weight:bold;
    
}

#textbox{
    padding:8 8;
    position:relative;
    top:30pt;
    border-radius:10px; 
    background-color: aliceblue;
    display: block table;
    margin: auto;
    width:50%;
}
@media screen and (max-width:500px){
    #textbox{
        top:10;
        width:90%;
        height:auto ;
        margin-left: 5%;
        margin-right: 5%;
        
    }
}



#editorback{position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1031;
}

#text {
    resize: none;
    height:100%;
    width:100%;
}

#submit_text {position: absolute;
    background-color:#3bcc72 ;
    outline: none;
    border: none;
    bottom:-122;
    right:235;
    border-radius:100px;
    font-size: 20;
    height:80;
    width:80;
    background-size: cover;
    background-image: url("../images/checked.png");
    transition:1s;
    transform: scale(1,1);
}
#submit_text:hover{
    border: solid;
    border-width:10px; 
    border-color: #3bcc72 ;
    cursor: pointer;
    transition:1s;
    transform: scale(0.9,0.9);
}




#logout {height:60%;
    width:4%;
    border: none;
    outline: none;
    background:transparent;
    background-size: contain;
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
    position: absolute;
    top:15;
    right:5;
    transition: 0.3s;
}
#logout:hover{
    cursor: pointer;
    transition:0.3s; 
    transform: scale(1.1,1.1);
}

#notification{height:60%;
    width:4%;
    border: none;
    outline: none;
    background:transparent;
    background-size: contain;
    background-image: url(../images/notifications-bell-button.png);
    background-repeat: no-repeat;
    position: absolute;
    top:15;
    right:85;
    transition:0.3s; 
}
#notification:hover{
    transition:0.3s; 
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.title {
    width: 100%;
    margin-bottom:20px;
    height:30px;
    padding: 5px;
    font-size: 15px;
    border:solid;
    border-color: cornflowerblue ;
    text-transform: capitalize;
    
}

#pagetag {font-size:44;
    font-weight:400;
    margin-top:30;
    color: white;
    transform: skew(-10deg);
    background-color:black;
    font-family: inherit;
    text-align: center;
    width: 250px;
    padding: 5px 5px 5px 5px;
}

.feedcontainer {
    background:transparent;
    overflow: hidden;
    display: inline-block block;
    height:auto;
    
    position:relative;
    margin-top: 55pt;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    
    
}
@media screen and (max-width:1200px){
    .feedcontainer{
        width: 100%;
        
        
    }
}

.pagetag1 {
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-family: nunito;
    font-size: 44;
}
#connections{
    box-shadow: 2px 2px 10px black;
    background: #2f3030;
    height:60%;
    width:25%;
    position: absolute;
    top:275;
    right: 130;
}

.blog{
    overflow: hidden;
    word-break:keep-all;
    margin-left: auto;
    margin-right: auto;
    margin-top:70;
    margin-bottom:70; 
    background:white;
    font-family: nunito;
    width:90%;
    width:90%;
    font-size:18px; 
    display: inline-block block;
    border-radius:5px;
    border:solid;
    border-width:1;
    border-color:#bcbcbc;
    padding:20 20; 
}
.blog_title{
font-weight: bold;
font-size: 35px;
font-family: monospace;

}
.blog_details{
    font-family: monospace;
    color:#28a658;
    font-size:15px;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.likes_image{

    height:20px;
    transition-duration: 0.25s;
}
.likes_image:hover{
    cursor: pointer;
    transform: scale(1.25,1.25);
    transition-duration: 0.25;;
}
.likes{
    font-size: 12.5px ;
    
}
.category{
    
    font-style: italic;
    padding: 2.5px;
    background-color: #28a658;
    color:white;
    
}
#myblogs {
    height:60%;
    width:4%;
    border: none;
    outline: none;
    background:transparent;
    background-size: contain;
    background-image: url(../images/blogging.png);
    background-repeat: no-repeat;
    position: absolute;
    top:15;
    right:170;
    transition:0.3s; 
}
#myblogs:hover{
    transition: 0.3s;
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.del_button{
    background: black;
    position:absolute;
    bottom: 20px;
    right:20px;
    background-image: url(../images/delete-button.png);
    background-position: center;
    background-size:50px 50px;
    border-radius:60px;
    background-repeat: no-repeat;
    height:70px;
    width:70px;
    border: none;
    outline: none;
}

.homeContainer {
    height: 100%;
    width: 100%;
}

.custom-link {
    color: white;
}
.custom-link:hover{
    color: #3bcc72 !important;
}



.toggler-icon {
    background-image: url(../images/menu.png) !important;
    height: 10pt;
}

#options-position {
    margin-top:5px ;
}
@media screen and (max-width:1140px){
    #options-position{
        position:relative;
        left:50pt;
    }
}

#cancel {
   
}
